In [2]:
from pyspark.sql import SparkSession, functions as f, types as t

In [3]:
spark = SparkSession.builder.appName('lect_13_home_task').getOrCreate()

22/10/22 18:44:17 WARN Utils: Your hostname, anatoliidomanskii-System-Product-Name resolves to a loopback address: 127.0.1.1; using 192.168.1.25 instead (on interface enp5s0)
22/10/22 18:44:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/22 18:44:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
actor_df = spark.read.csv('./data/actor.csv', header=True, inferSchema=True)
address_df = spark.read.csv('./data/address.csv', header=True, inferSchema=True)
category_df = spark.read.csv('./data/category.csv', header=True, inferSchema=True)
city_df = spark.read.csv('./data/city.csv', header=True, inferSchema=True)
country_df = spark.read.csv('./data/country.csv', header=True, inferSchema=True)
customer_df = spark.read.csv('./data/customer.csv', header=True, inferSchema=True)
film_df = spark.read.csv('./data/film.csv', header=True, inferSchema=True)
film_actor_df = spark.read.csv('./data/film_actor.csv', header=True, inferSchema=True)
film_category_df = spark.read.csv('./data/film_category.csv', header=True, inferSchema=True)
inventory_df = spark.read.csv('./data/inventory.csv', header=True, inferSchema=True)
language_df = spark.read.csv('./data/language.csv', header=True, inferSchema=True)
payment_df = spark.read.csv('./data/payment.csv', header=True, inferSchema=True)
rental_df = spark.read.csv('./data/rental.csv', header=True, inferSchema=True)
staff_df = spark.read.csv('./data/staff.csv', header=True, inferSchema=True)
store_df = spark.read.csv('./data/store.csv', header=True, inferSchema=True)

# Домашнє завдання на тему Spark SQL

Задачі з домашнього завдання на SQL потрібно розвʼязати за допомогою Spark SQL DataFrame API.

- Дампи таблиць знаходяться в папці `data`. Датафрейми таблиць вже створені в клітинці вище.
- Можете створювати стільки нових клітинок, скільки вам необхідно.
- Розвʼязок кожної задачі має бути відображений в самому файлі (використати метод `.show()`)

**Увага!**
Використовувати мову запитів SQL безпосередньо забороняється, потрібно використовувати виключно DataFrame API!

1.
Вивести кількість фільмів в кожній категорії.
Результат відсортувати за спаданням.

In [35]:
film_category_df.\
    join(category_df, film_category_df.category_id==category_df.category_id, 'left').\
    groupby(category_df.name).\
    agg(f.count('film_id').alias('num_of_films')).\
    orderBy(f.desc('num_of_films')).\
    show()

+-----------+------------+
|       name|num_of_films|
+-----------+------------+
|     Sports|          74|
|    Foreign|          73|
|     Family|          69|
|Documentary|          68|
|  Animation|          66|
|     Action|          64|
|        New|          63|
|      Drama|          62|
|      Games|          61|
|     Sci-Fi|          61|
|   Children|          60|
|     Comedy|          58|
|     Travel|          57|
|   Classics|          57|
|     Horror|          56|
|      Music|          51|
+-----------+------------+

2.
Вивести 10 акторів, чиї фільми брали на прокат найбільше.
Результат відсортувати за спаданням.

In [62]:
rental_df.\
    join(inventory_df, rental_df.inventory_id==inventory_df.inventory_id, 'left').\
    join(film_actor_df, inventory_df.film_id==film_actor_df.film_id, 'left').\
    join(actor_df, film_actor_df.actor_id==actor_df.actor_id).\
    where(actor_df.actor_id.isNotNull()).\
    groupby(actor_df.first_name, actor_df.last_name).\
    agg(f.count(rental_df.rental_id).alias('qty')).\
    orderBy(f.desc('qty')).\
    show(10)

+----------+-----------+---+
|first_name|  last_name|qty|
+----------+-----------+---+
|     SUSAN|      DAVIS|825|
|      GINA|  DEGENERES|753|
|   MATTHEW|     CARREY|678|
|      MARY|     KEITEL|674|
|    ANGELA|WITHERSPOON|654|
|    WALTER|       TORN|640|
|     HENRY|      BERRY|612|
|     JAYNE|      NOLTE|611|
|       VAL|     BOLGER|605|
|    SANDRA|     KILMER|604|
+----------+-----------+---+
only showing top 10 rows

3.
Вивести категорія фільмів, на яку було витрачено найбільше грошей
в прокаті

+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|rental_id|        rental_date|inventory_id|customer_id|        return_date|staff_id|        last_update|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|        2|2022-05-25 00:54:33|        1525|        459|2022-05-28 21:40:33|       1|2022-02-16 04:30:53|
|        3|2022-05-25 01:03:39|        1711|        408|2022-06-02 00:12:39|       1|2022-02-16 04:30:53|
|        4|2022-05-25 01:04:41|        2452|        333|2022-06-03 03:43:41|       2|2022-02-16 04:30:53|
|        5|2022-05-25 01:05:21|        2079|        222|2022-06-02 06:33:21|       1|2022-02-16 04:30:53|
|        6|2022-05-25 01:08:07|        2792|        549|2022-05-27 03:32:07|       1|2022-02-16 04:30:53|
|        7|2022-05-25 01:11:53|        3995|        269|2022-05-29 22:34:53|       2|2022-02-16 04:30:53|
|        8|2022-05-25 01:31:46|        2346|        239|2022-05-28 01:33:46|       2|2022-02-16 04:30:53|
|        9|2022-05-25 02:00:40|        2580|        126|2022-05-28 02:22:40|       1|2022-02-16 04:30:53|
|       10|2022-05-25 02:02:21|        1824|        399|2022-06-01 00:44:21|       2|2022-02-16 04:30:53|
|       11|2022-05-25 02:09:02|        4443|        142|2022-06-02 22:56:02|       2|2022-02-16 04:30:53|
|       12|2022-05-25 02:19:27|        1584|        261|2022-05-30 07:44:27|       2|2022-02-16 04:30:53|
|       13|2022-05-25 02:22:55|        2294|        334|2022-05-30 06:28:55|       1|2022-02-16 04:30:53|
|       14|2022-05-25 02:31:15|        2701|        446|2022-05-26 04:56:15|       1|2022-02-16 04:30:53|
|       15|2022-05-25 02:39:22|        3049|        319|2022-06-03 05:30:22|       1|2022-02-16 04:30:53|
|       16|2022-05-25 02:43:11|         389|        316|2022-05-26 06:42:11|       2|2022-02-16 04:30:53|
|       17|2022-05-25 03:06:36|         830|        575|2022-05-27 02:43:36|       1|2022-02-16 04:30:53|
|       18|2022-05-25 03:10:47|        3376|         19|2022-05-31 08:35:47|       2|2022-02-16 04:30:53|
|       19|2022-05-25 03:17:24|        1941|        456|2022-05-31 08:00:24|       1|2022-02-16 04:30:53|
|       20|2022-05-25 03:48:41|        3517|        185|2022-05-27 04:20:41|       2|2022-02-16 04:30:53|
|       21|2022-05-25 03:59:46|         146|        388|2022-05-26 03:01:46|       2|2022-02-16 04:30:53|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
only showing top 20 rows

4.
Вивести назви фільмів, яких не має в inventory.
Запит має бути без оператора IN

In [8]:
# тут має бути розвʼязок задачі

5.
Вивести топ 3 актори, які найбільше зʼявлялись в категорії фільмів “Children”

In [9]:
# тут має бути розвʼязок задачі

6.
Вивести міста з кількістю активних та неактивних клієнтів
(в активних customer.active = 1).
Результат відсортувати за кількістю неактивних клієнтів за спаданням.

In [10]:
# тут має бути розвʼязок задачі